@media screen and (min-width : 0px) and (max-width: 750px) {
  #left-navigation {
    display: none;
  }
  .bs-docs-sidebar {
    display: none;
  }
}
@media screen and (min-width : 751px) and (max-width: 2000px) {
  #left-navigation {
    display: inline;
  }
  .bs-docs-sidebar {
    display: inline;
  }
}


left-menu-button {
}

has-popover {
}




.rcorners1 {
  border:1px solid #;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


.rcorners2 {
  border:1px solid #;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}



pre{
    white-space: pre-wrap;
}